# testing
/coverage
cypress/fixtures/example.json
cypress/integration/examples
cypress/plugins/index.js
cypress/support/index.js
cypress/support/commands.js
cypress/screenshots
cypress/videos
build/
logs/