/* .dataSetsWrapper {
  margin-top: 2em;
}
.dataSetsItem {
  margin: 1em auto;
  padding: 2em;
  border: 1px solid black;
}

.dataSetsItem .dataSetsItemDetail {
  margin-left: 1.5rem;
}

.dataSetDetailWrapper {
  margin-top: 2em;
}
.dataSetDetailWrapper article {
  margin-top: 1.5rem;
}

.dataSetDetails {
  margin-top: 1rem;
} */
